*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    color: white;
    justify-content: center;
    
}

.foot{
    display: flex;
    gap: 2cm;
    padding: 70px 30px 20px;
    justify-content: center;
    font-size: 0.8em;
    letter-spacing: 1px;
}
.accounts i{
    color: white;
}
.accounts i:hover{
    color: blue;
}
.others a{
    text-decoration: none;
    color: white;
}
.footerBottom{
    background-color: rgb(46, 44, 44);
    padding: 20px;
    text-align: center;
}
.alche img{
    width: 100px;  
}

@media (max-width: 700px){
    .foot{
        display: block;
        gap: 2cm;
        padding: 70px 30px 20px;
        justify-content: center;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}
@media (max-width: 1000px){
    .foot{
        display: block;
        gap: 2cm;
        justify-content: center;
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    footer{
        background-color: black;
        color: white;
        justify-content: center;
        
    }
}
@media only screen and (max-width:299px) and (min-width:10px){
    .foot{
        display: block;
        gap: 2cm;
        justify-content: center;
        font-size: 0.6em;
        letter-spacing: 0.7px;
    }
}