body{
    margin: 0;
    overflow-x: hidden;
}

.top-nav{
    text-align: center;
    align-items: center;
    background-color: rgb(202, 250, 234);
    color: black;
    width: 100%;
    height: 50px;
    font-weight: bold;
    display: flex;
    gap:40px;
    justify-content: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgb(247, 212, 212);
    font-weight: bolder;
}
.nav-bar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.head-title{
    text-align: center;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.book{
    width: 100%;
    height: 50vh;
    /* filter: brightness(40%); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/book.png);
    
}
.book h1{
    position: relative;
    color: rgb(255, 255, 255);
    top:170px;
    font-size: 40px;
    text-align: center;

}
.img img{
    width: 20%;
    height: 400px;
    padding-top:10px ;
    gap:60px;
    background-repeat: no-repeat;
}
.img{
    animation: slide 1s infinite;
    
    
}
@media only screen and (max-width:700px) and (min-width:300px){
    .top-nav{
        width: 100%;
        font-size: 12.4px;
    }
    .nav-bar{
        display: grid;
        grid-column: auto;
        /* grid-template-columns: repeat(auto-fit, minmax(130px, 2fr)); */
        gap: 10px;
        padding-left: 0;
        font-size: 13px;
        justify-content: start;
    }
    .nav-bar a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .head-title h1{
        font-size: 19px;
    }
    .img img{
        width: 30%;
        height: 200px;
    }
    .body-content{
        overflow-x: hidden;
        display: flex;
        padding-left: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .team-content{
        left: 0;
        right: 0;
        height: 500px;
        width: 100%;
        display: none;
        padding: 0;
    }
    .main-container{
        width: 100%;
        padding: 0;
        position: relative;
        left: 0;
        margin: 0;
        display: none;
    }

}
@media only screen and (max-width:900px) and (min-width:701px){
    .nav-bar{
        width: 92.4%;
        padding: 30px;
        font-size: 15px;
        max-width: 100%;

    }
}
@media only screen and (max-width:299px) and (min-width:10px){
    .nav-bar{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .head-title h1{
        justify-content: left;
        align-items: start;
        align-items: left;
        font-size: 15px;
    }
    .main-container{
        display: none;
    }
    .second-container{
        display: none;
    }

}
/* TO BE APPLIED IN EVERY HTML */


.team-content{
    width:20%;
    background-color: #d2d9e7;
    border-top-left-radius: 80px;
    color: wheat;
    border-radius: 20px;

  }
  .team-content:hover{
    background-color: rgb(161, 158, 158);
  }
  .name{
    color: rgb(82, 80, 80);
    font-family: "Atomic Age", system-ui;
    text-align: center;
 
  }
  .name:hover{
    color: #a454b4;
  }
  .image{
    width:20%;
    height: 10vh;
    justify-content: center;
    position: relative;
    align-items: center;
    left: 40%;
    border-radius: 40px;

  }
  .content-one{
    color: rgb(46, 46, 46);
    font-weight:60px;
    font-size: 18px;

  }
  .content-one:hover{
    color: #a454b4;
  }
.main-container{
    display: flex;
    gap:20px;
    position: relative;
    left: 90px;
}
.second-container{
    display: flex;
    gap:40px;
    position: relative;
    left: 190px;
    padding-top: 20px;

}
